.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(120deg, #141313, #131518);
  color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Prevents the vignette effect from extending outside the app container */
}



button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 16px;
  background: linear-gradient(135deg, #e74c3c, #ff6b5e);
  color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #c0392b, #e74c3c);
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

h1, h2, h3 {
  margin: 20px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.money {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hand-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.card {
  width: 226px;  
  height: 314px; 
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
}

.animated-card {
  animation: cardAnimation 0.5s ease-out;
}

@keyframes cardAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.game-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #2ecc71;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.action-buttons {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  outline: none;
  margin-right: 10px;
  transition: box-shadow 0.3s ease;
}

input:focus {
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.7);
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameOver {
  color: #e74c3c;
  font-size: 24px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
